//尺寸
    .h-196{ height: 196px;}
    .h-350{ height: 350px;}
    .w-95{ width: 95px;}

    //僅限md
    @include media-breakpoint-only(md){
        .h-md-only-216{ height: 216px;}
    }
    //md以上
    @include media-breakpoint-up(md){
        .mh-md-341{ height: 341px;}
    }

//位置
    .start-px-24{left: $spacer * 6;}