.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

.form-control,.form-control:focus,.form-select{
    border: solid 1px $primary;
    color: $secondary;
}

.form-control::placeholder,.form-select::placeholder{
    color: $primary;
  }